{% extends 'dashboard/index.html' %}
{% block title %} Invoice {% endblock title %}
{% block body %}
{% load static %}
<div class="wrapper">
       

    <div class="content-page">
      <div class="content">
   
      
    <div class="container-fluid">
                           
      
                           <!-- start page title -->
                           <div class="row">
                               <div class="col-12">
                                   <div class="page-title-box">
                                       <div class="page-title-right">
                                           <ol class="breadcrumb m-0">
                                               <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                               <li class="breadcrumb-item"><a href="javascript: void(0);">Address</a></li>
                                               <li class="breadcrumb-item active">Invoice</li>
                                           </ol>
                                       </div>
                                       <h4 class="page-title">Invoice</h4>
                                   </div>
                               </div>
                           </div>     
                           <!-- end page title --> 
   
                           <div class="row">
                            
                    <div class="col-xxl-4 col-xl-5">

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title mb-3">Upload Invoice</h5>
                            
                                <form action="" method="post" name="reg" role="form"  class="dropzone"  enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="fallback">
                                        <input type ="file" name ="file1"  required/>
                                    </div>

                                    <div class="dz-message needsclick">
                                        <i class="h3 text-muted dripicons-cloud-upload"></i>
                                        <h4>Drop files here or click to upload.</h4>
                                    </div>
                                    <button type="Submit" class="btn btn-danger">Upload Invoice</button>
                                </form>
                           
                              <!-- Preview -->
                                <div class="dropzone-previews mt-3" id="file-previews"></div>

                                <!-- file preview template -->
                             
                                <!-- end file preview template -->


                           
                                
                              

                            </div>
                        </div>
                    </div>
                           </div>
                           <!-- end row -->        
                           
                       </div> <!-- container -->
   
                   </div> <!-- content -->
   
   </div>
   </div>
   </div>
   
   {% endblock body %} 
                                        