{% extends 'dashboard/index.html' %}
{% block title %} Event {% endblock title %}
{% block body %}
{% load static %}
<div class="wrapper">
       

    <div class="content-page">
      <div class="content">
   
      
    <div class="container-fluid">
                           
      
                           <!-- start page title -->
                           <div class="row">
                               <div class="col-12">
                                   <div class="page-title-box">
                                       <div class="page-title-right">
                                           <ol class="breadcrumb m-0">
                                               <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                               <li class="breadcrumb-item"><a href="javascript: void(0);">Address</a></li>
                                               <li class="breadcrumb-item active">Event</li>
                                           </ol>
                                       </div>
                                       <h4 class="page-title">Event</h4>
                                   </div>
                               </div>
                           </div>     
                           <!-- end page title --> 
   
                           <div class="row">
                            
                    <div class="col-xxl-4 col-xl-5">

                        <div class="card">
                            <div class="card-body">
                             
                                <form method="post">
                                    {% csrf_token %}
                                    <table class="form form-table">
                                      {{ form }}
                                       
                                     </table>
                                    </br>
                                    <button type="submit" class="btn btn-info right"> Submit </button>
                                  </form>
                           
                              <!-- Preview -->
                         

                                <!-- file preview template -->
                             
                                <!-- end file preview template -->


                           
                                
                              

                            </div>
                        </div>
                    </div>
                           </div>
                           <!-- end row -->        
                           
                       </div> <!-- container -->
   
                   </div> <!-- content -->
   
   </div>
   </div>
   </div>
   
   {% endblock body %} 
                                        