{% extends 'dashboard/index.html' %}
{% block title %} Logo {% endblock title %}
{% block body %}
{% load static %}
<div class="wrapper">
       

    <div class="content-page">
      <div class="content">
   
      
    <div class="container-fluid">
                           
      
                           <!-- start page title -->
                           <div class="row">
                               <div class="col-12">
                                   <div class="page-title-box">
                                       <div class="page-title-right">
                                           <ol class="breadcrumb m-0">
                                               <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                               <li class="breadcrumb-item"><a href="javascript: void(0);">Address</a></li>
                                               <li class="breadcrumb-item active">Logo</li>
                                           </ol>
                                       </div>
                                       <h4 class="page-title">Logo</h4>
                                   </div>
                               </div>
                           </div>     
                           <!-- end page title --> 
   
                           <div class="row">
                            
                    <div class="col-xxl-4 col-xl-5">

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title mb-3">Upload Logo</h5>

                                <form action="https://coderthemes.com/" method="post" class="dropzone" id="myAwesomeDropzone" data-plugin="dropzone" data-previews-container="#file-previews"
                                    data-upload-preview-template="#uploadPreviewTemplate">
                                    <div class="fallback">
                                        <input name="file" type="file" />
                                    </div>

                                    <div class="dz-message needsclick">
                                        <i class="h3 text-muted dripicons-cloud-upload"></i>
                                        <h4>Drop files here or click to upload.</h4>
                                    </div>
                                </form>
                              <!-- Preview -->
                                <div class="dropzone-previews mt-3" id="file-previews"></div>

                                <!-- file preview template -->
                             
                                <!-- end file preview template -->


                                <button type="button" class="btn btn-danger">Delete Logo</button>
                                
                              

                            </div>
                        </div>
                    </div>
                           </div>
                           <!-- end row -->        
                           
                       </div> <!-- container -->
   
                   </div> <!-- content -->
   
   </div>
   </div>
   </div>
   
   {% endblock body %} 
                                        