{% extends 'dashboard/index.html' %}
{% block title %} {% endblock title %}
{% block body %}
{% load static %}

<div class="wrapper">
       

    <div class="content-page">
        <div class="content">

            <div class="container-fluid">
                        
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Tasks</a></li>
                                    <li class="breadcrumb-item active">Strategy</li>
                                </ol>
                            </div>
                            <h2 class="page-title">Strategy</h2>
                        </div>
                    </div>
                </div>     
                <!-- end page title --> 

                <div class="row">
                    <div class="col-xxl-8 col-xl-7">
                        <!-- project card -->
                        <div class="card d-block">
                            <div class="card-body">
                                <h5 class="card-title mb-3">Attachments</h5>
                                      {% if updatestrategy %}
                                           
                                <form action="" method="post" name="reg" role="form"    enctype="multipart/form-data">
                                    {% csrf_token %}
                                
                        

                                <label>Comment:</label>
                        
                                <input type="text" class="form-control" name="note" id="username" value={{updatestrategy.comment}}required>
                                </br>
                                <button type="submit" class="btn btn-danger">Update</button>
                                </form>


                            {% else %}

                            <form action="" method="post" name="reg" role="form"    enctype="multipart/form-data">
                                {% csrf_token %}
    

                                <label>Comment:</label>
                        
                                <input type="text" class="form-control" name="note" id="username" placeholder="Comment" required>
                            </br>
                            <button type="submit" class="btn btn-danger">Save</button>
                                
                            </form>




                                {% endif %}
                        </div> <!-- end card-->

                       
                        <!-- end card-->
                    </div> <!-- end col -->

                </div>
                <!-- end row -->
                
            </div>

        </div>
    </div>

</div>

{% endblock body %}